== cell :react_with_serialization, @pledges, params: params,
                                             component: 'Search',
                                             props: { query: @query, resultIds: @result_ids,
                                                      resultCount: @result_count }
