== cell :react_with_serialization, @pledges, params: params,
                                             component: 'Search',
                                             props: { resultIds: @result_ids }
