/*------------------------------------*\
    # Base heading styles
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  //font-family: $font-family-heading;
}

h1, h2 {
  font-weight: $font-weight-regular;
  color: $secondary-color;
  margin-top: 0;
  margin-bottom: 0.5em;
}

h3, h4, h5, h6 {
  font-weight: $font-weight-light;
}

h1 {
  font-weight: normal;

  @include font-size(24px, 1.5);

  @include media-query(m) {
    @include font-size(30px, 1.5);
  }

  @include media-query(l) {
    @include font-size(36px, 1.5);
  }
}

h2 {
  @include font-size(24px, 1.5);
  margin-bottom: $spacing;
}
