/*------------------------------------*\
    # Base heading styles
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

h1, h2 {
  font-weight: $font-weight-medium;
}

h3, h4, h5, h6 {
  font-weight: $font-weight-light;
}
