/*------------------------------------*\
    # Generic font styles
\*------------------------------------*/

body {
  font-family: $main-font-family;
  font-kerning: normal;
  font-variant-ligatures: normal;
}
