/*------------------------------------*\
    # Load web fonts
\*------------------------------------*/

@font-face {
  font-family: 'Colaborate';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Colaborate-Light.woff') format('woff');
}

@font-face {
  font-family: 'Colaborate';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Colaborate-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Colaborate';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Colaborate-Medium.woff') format('woff');
}
