/*------------------------------------*\
    #WRAPPER OBJECT
\*------------------------------------*/

/**
 * Wrapper to appear as child of top-level elements, e.g.:
 *
 * <header>
 *   <div class="o-wrapper">
 *     ...
 *   </div>
 * </header>
 *
 */

.o-wrapper {
  margin: 0 auto;
  max-width: 1130px;

  padding-left: $spacing--small;
  padding-right: $spacing--small;

  @include media-query(m) {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}

.o-wrapper--wide {
  max-width: 1270px;
}

.o-wrapper--narrow {
  max-width: 850px;
}
