/*------------------------------------*\
    #TEXTAREA
\*------------------------------------*/

/**
 * textarea component
 */

.c-textarea {
  margin-bottom: $spacing--small;

  > textarea {
    width: 100%;
    height: 8em;
    padding: $spacing--tiny;
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: transparent;
  }
}
