/*------------------------------------*\
    #TEXTAREA
\*------------------------------------*/

/**
 * textarea component
 */

.c-textarea > textarea {
  width: 100%;
  height: 8em;
  padding: $spacing--tiny;
  border: 1px solid $gray;
  border-radius: 5px;
  background-color: transparent;
}

.c-textarea.c-textarea--narrow > textarea {
  height: 4em;
}
