/*------------------------------------*\
    #SIGN PLEDGE
\*------------------------------------*/

/**
 * Sign pledge form in pledge show view
 */

.c-sign-pledge {
}

.c-sign-pledge__submit {
  height: 50px;
  @include font-size(22px, 1.25);

  @include media-query(m) {
    height: 60px;
    @include font-size(24px, 1.5);
  }
}

.c-sign-pledge__small-print {
  line-height: 1.25;
}
