/*------------------------------------*\
    #PLEDGE DATA
\*------------------------------------*/

/**
 * Shows pledge statistics in pledge view
 */

.c-pledge-data {
  margin-bottom: $spacing--small;
  border-bottom: 1px solid $light-gray;
  padding-bottom: $spacing;

  @include font-size(15px, 1.5);

  @include media-query(s) {
    padding-bottom: $spacing--small;
  }
}

.c-pledge-data__initiator,
.c-pledge-data__signees {
  @include media-query(s) {
    margin-bottom: $spacing--small;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $spacing--small;
  }
}

.c-pledge-data__title {
  margin-bottom: $spacing--small;

  @include font-size(14px);

  text-transform: uppercase;
  color: $mid-dark-gray;

  @include media-query(m) {
    @include font-size(18px);
    color: $text-color;
  }
}

.c-pledge-data .c-progress-bar {
  @include media-query(m) {
    margin-top: 28px;
  }
}
