/*------------------------------------*\
    #PLEDGE TILE
\*------------------------------------*/

/**
 * A component for pledge tiles e.g. for the search page.
 */

/**
 * 1. The whole pledge tile is clickable, therefore set neutral text decoration and color.
 *
 * - The plegde-tile component does not create a grid. This is done by the Aleut.css layout object.
 * - TODO: progress bar, social media icons
 */

$pledge-tile-gray: rgb(60%, 60%, 60%);
$pledge-tile-border-color: rgb(70%, 70%, 70%);


.c-pledge-tile {
  border: 1px solid $pledge-tile-border-color;
  border-radius: 8px;
  margin-bottom: $spacing;
}

.c-pledge-tile__link {
  text-decoration: none; /* [1] */
  color: $text-color; /* [1] */
}

.c-pledge-tile__initiator-img {
  border-radius: 50px;
}

.c-pledge-tile__initiator-title {
  text-transform: uppercase;
  color: $pledge-tile-gray;
  @include font-size(14px);
}

.c-pledge-tile__initiator-name {
  @include font-size(18px);
}

.c-pledge-tile__text {
  color: $gray;
  font-family: $font-family-heading;
  font-weight: $font-weight-regular;
}

.c-pledge-tile__days {
  color: #c00;
  @include font-size(20px);
  font-family: $font-family-heading;
  font-weight: $font-weight-medium;
}
