/*------------------------------------*\
    #INPUT
\*------------------------------------*/

/**
 * Normal input component
 */

.c-input {
  > input {
    width: 100%;
    padding: $spacing--tiny;
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: transparent;
    height: 40px;
  }
}
