/*------------------------------------*\
    #SEARCH BAR
\*------------------------------------*/

/**
 *
 */

/**
 * 1.
 */

.c-search-bar__social-media {
  margin-top: 2px;
  margin-right: $spacing--small;

  display: inline-block;
}

.c-search-bar__form {
  display: inline-block;

  vertical-align: top;
}

.c-search-bar__input {
  border: 1px solid #999;
  border-radius: 5px;

  padding-left: $spacing--small;
  padding-right: $spacing--small;

  width: 20em;
  height: 40px;

  vertical-align: top;

  background-color: transparent;
}

.c-search-bar__submit {
  width: 4em;

  &.c-btn > .fa {
    margin-right: 0;
    @include font-size(18px, 1);
  }
}
