/*------------------------------------*\
    #PLEDGE VIEW
\*------------------------------------*/

/**
 * A component for pledge views
 */

$pledge-view-gray: rgb(60%, 60%, 60%);
$pledge-view-black: rgb(0%, 0%, 0%);
$pledge-view-border-color: rgb(70%, 70%, 70%);

$color-white: rgb(100%, 100%, 100%);

.c-pledge-view {

}

.c-pledge-view__text {
  img {
    @include media-query(s) {
      width: 48px;
      height: 48px;
    }
  }
}

.c-pledge__created-at {
  font-style: italic;
}
