/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Special widths for responsive components in a grid.
 * TODO: Is this still needed and/or redundant?
 */

.c-layout {
  margin-bottom: $spacing;
}

.c-pledge__title {
  margin-top: $spacing;
}

.c-pledge__quote {
  margin-bottom: $spacing--small;
  border-bottom: 1px solid $light-gray;
  padding-bottom: $spacing;

  @include media-query(m) {
    margin-bottom: $spacing;
  }
}

.c-pledge__quote > .c-avatar {
  @include media-query(s) {
    width: 48px;
    height: 48px;
  }
}

.c-pledge__text {
  @include font-size(18px, 1.5);
  color: $black;

  @include media-query(m) {
    @include font-size(21px, 1.5);
  }
}

.c-pledge__description {
  margin-bottom: $spacing;
}

.c-pledge__created-at {
  margin-bottom: $spacing;

  font-style: italic;
}
