/*------------------------------------*\
    #PLEDGE FORM
\*------------------------------------*/

/**
 * Pledge form (actual pledge part)
 */

.c-pledge-form {
  margin-bottom: $spacing;

  @include media-query(l) {
    padding-bottom: $spacing--large;
    border-bottom: 1px solid $gray;
    margin-bottom: $spacing--large;
  }
}

.c-pledge-form__text {
  display: block;

  font-weight: bold;
  @include font-size(24px, 28px);
  color: $primary-color;
}

.c-pledge-form__input {
  > label {
    color: $mid-dark-gray;
  }

  > input {
    width: 100%;
    padding: $spacing--tiny;
    border: 1px solid $primary-color;
    border-radius: 5px;
    background-color: transparent;
    height: $input-height;

    &::placeholder {
      color: $primary-color;
      opacity: 1;
    }

    &:focus {
      box-shadow: none;
      background-color: $almost-white;
    }
  }
}

.c-pledge-form__group1 {
  display: flex;
  margin-bottom: $spacing--small;
}

.c-pledge-form__group1-1 {
  padding-top: 1.65rem;
  min-width: 15.5rem;
}

.c-pledge-form__group1-2 {
  flex-grow: 1;
  display: flex;
}

.c-pledge-form__part2 {
  flex-grow: 1;
}

.c-pledge-form__part3 {
  margin-left: 0.2rem;
  min-width: 1.2rem;
  max-width: 1.2rem;
  padding-top: 1.65rem;
  text-align: left;
}


.c-pledge-form__group2 {
  display: flex;
  margin-bottom: $spacing--small;
}

.c-pledge-form__group2-1 {
  display: flex;
}

.c-pledge-form__group2-2 {
  flex-grow: 1;
}

.c-pledge-form__part4 {
  padding-top: 1.65rem;
  min-width: 5.5rem;
}

.c-pledge-form__part5 {
  min-width: 10rem;
  max-width: 10rem;
}

.c-pledge-form__part6 {
  margin-left: 1rem;
  margin-right: 1.4rem;
}

.c-pledge-form__group3 {
  display: flex;
}

.c-pledge-form__part7 {
  flex-grow: 1;
}

.c-pledge-form__part8 {
  margin-left: 0.2rem;
  min-width: 1.2rem;
  max-width: 1.2rem;
  padding-top: 1.65rem;
  text-align: left;
}
