/*------------------------------------*\
    #SEARCH BAR
\*------------------------------------*/

/**
 *
 */

.c-search-bar {
  display: flex;

  @include media-query(m) {
    display: block;
    float: right;
    margin-top: $spacing;
  }
}

.c-search-bar__input {
  flex-grow: 1;

  margin-right: $spacing--tiny;

  border: 1px solid $gray;
  border-radius: $border-radius;

  padding-left: $spacing--small;
  padding-right: $spacing--small;

  vertical-align: top;

  height: $input-height;

  background-color: transparent;

  @include media-query(m) {
    width: 20em;
  }
}

.c-search-bar__submit {
  width: 4em;

  &.c-btn > .fa {
    margin-right: 0;
    @include font-size(20px, 1);
  }
}
