/*------------------------------------*\
    #NEW PLEDGE
\*------------------------------------*/

/**
 * New pledge form
 */

.c-new-pledge {
  h1 {
    margin-top: 0;
  }

  label {
    display: inline-block;
  }

}

.c-new-pledge__link {
  color: $text-color;
  text-decoration: underline;
}

.c-new-pledge__pledge-data {
  margin-bottom: $spacing--large;
}

.c-new-pledge__user-data {
  border-top: 1px solid $gray;
  padding-top: $spacing--large;

  h2 {
    margin-top: 0;
  }
}
