/*------------------------------------*\
    #DEVISE FORM
\*------------------------------------*/

/**
 * Component for Devise forms
 */

.c-devise-form {
  margin-top: $spacing + $spacing--small;
  margin-bottom: $spacing--large;
}

.c-devise-form__title {
  margin-top: 0;
}
