/*------------------------------------*\
    #PREVIEW EXPLANATION
\*------------------------------------*/

/**
 * Preview explanation sidebar in pledge show view
 */

.c-preview-explanation {
  border: 2px solid $tertiary-color;
  border-radius: 5px;
  margin-bottom: $spacing;
}

.c-preview-explanation__title {
  margin-top: 0;
  padding: $spacing--small $spacing;
  @include font-size(22px, 1.5);
  font-weight: normal;
  color: $white;
  background-color: $tertiary-color;

  user-select: none;
}

.c-preview-explanation__wrapper {
  margin: $spacing--small $spacing $spacing;
}
