/*------------------------------------*\
    #TAG LIST
\*------------------------------------*/

/**
 * Tag list for the pledge tile.
 *
 * Depends on object 'o-list-inline'.
 */

/**
 * 1. Spacing between tags.
 */

.c-tag-list {
}

.c-tag-list__item {
  @include font-size(12px);

  color: $white;
  border-radius: 5px;

  &:nth-of-type(3n) {
    background-color: $primary-color-lighter;
  }

  &:nth-of-type(3n+1) {
    background-color: $secondary-color-lighter;
  }

  &:nth-of-type(3n+2) {
    background-color: $tertiary-color-lighter;
  }

  padding: 0 $spacing--tiny;
  margin-right: $spacing--tiny; /* [1] */

  &:last-child {
    margin-right: 0; /* [1] */
  }
}
