/*------------------------------------*\
    #PLEDGE PROGRESS BAR
\*------------------------------------*/

/**
 * Shows number of signees as a progress bar
 */

.c-progress-bar {
  width: 100%;
  height: 17px;
  background-color: $light-gray;
  border-radius: 10px;
  overflow: hidden; /* So that border-radius applies also to the fill */
  margin-top: $spacing--small;
}

.c-progress-bar__liquid {
  height: 17px;
  background-color: $success-color;
}

.c-progress-bar--urgent .c-progress-bar__liquid {
  background-color: $urgent-color;
}
