/*------------------------------------*\
    #SESSION
\*------------------------------------*/

/**
 * Session pop-up container
 */

/*
 *  1. Should be on top of most other stuff.
 *  2. Reset of text-align needed because of parent elements.
 *  3. Acts as container for absolutely-positioned pop-up window.
 */

.c-session {
  float: left;

  position: relative;  /* [3] */
}

.c-session__triangle {
  position: absolute;
  top: -18px;
  right: 40px;

  fill: $primary-color;
}

.c-session__toggle {
  display: inline-block;

  border-top-left-radius: 0;
  border-top-right-radius: 0;

  padding-left: 14px;
  padding-right: 14px;

  user-select: none;
}

.c-session__window {
  position: absolute;
  width: 250px;
  top: 58px;
  right: $spacing--tiny;
  z-index: 15; /* [1] */

  text-align: left; /* [2] */

  padding: $spacing;

  @include font-size(14px, 1.25);
  color: $text-color;

  border-radius: 5px;
  background-color: $white;
  box-shadow: $box-shadow;
}

.c-session__window--hidden {
  display: none;
}

.c-session__submit {
  border-color: $primary-color;
  background-color: $primary-color;

  > svg {
    width: 20px;
    height: 20px;
    vertical-align: -4px;
  }
}

.c-session__link {
  display: block;
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
