/*------------------------------------*\
    #IMAGE INPUT
\*------------------------------------*/

/**
 * Image input with crop component
 */

.c-image-input {
  max-width: 100%;
}

.c-image-input__crop-area {
  max-width: 100%;
}

.c-image-input--avatar .c-image-input__preview {
  img {
    width: 123px;
    border-radius: 62px;
  }
}

.c-image-input--pledge-image .c-image-input__preview {
  img {
    max-width: 100%;
  }
}
