/*------------------------------------*\
    #UPDATE FORM
\*------------------------------------*/

/**
 * Pledge update form in pledge show view
 */

.c-update-form {
  border: 2px solid $primary-color;
  border-radius: 5px;
  margin-bottom: $spacing;

  textarea {
    height: 8em;
  }
}

.c-update-form__title {
  margin-top: 0;
  padding: $spacing--small $spacing;
  @include font-size(22px, 1.5);
  font-weight: normal;
  color: $white;
  background-color: $primary-color;

  user-select: none;
}

.c-update-form__wrapper {
  margin: $spacing--small $spacing $spacing;
}
