/*------------------------------------*\
    #HELP
\*------------------------------------*/

/**
 * Help box on new pledge form page
 */

.c-help {
  color: $text-color;
  border: 1px solid $primary-color-lighter;
  border-radius: 5px;
  margin-bottom: $spacing;

}

.c-help__title {
  margin-top: 0;
  padding: $spacing--small $spacing;
  @include font-size(22px, 1.5);
  font-weight: normal;
  color: $white;
  background-color: $primary-color-lighter;

  user-select: none;
}

.c-help__wrapper {
  margin: $spacing--small $spacing $spacing;
}

.c-help__subheading {
  margin-top: $spacing;
  @include font-size(16px, 1.5);
  font-weight: bold;
}

.c-help__faq {
  .fa {
    margin-top: 3px;
    margin-left: 0;
    margin-right: 7px;
    color: $primary-color;

    @include font-size(56px, 1);
  }

  h3 {
    @include font-size(18px, 1.5);
    font-weight: normal;
    color: $primary-color;
  }

  a {
    color: $text-color;
  }
}
