/*------------------------------------*\
    #REPORT PLEDGE
\*------------------------------------*/

/**
 * Report pledge form in pledge show view
 */

.c-report-pledge {
  border: 1px solid $gray;
  border-radius: $border-radius;

  background-color: $almost-white;

  @include media-query(s) {
    margin-bottom: $spacing;
  }
}

.c-report-pledge__button {
  background-color: $gray;

  &:hover, &:active {
    background-color: $gray-highlight;
  }
}
