/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/

/**
 *
 */

/**
 * 1.
 */

$primary-color: rgb(12%, 44%, 72%);

.c-page-head {
  padding-bottom: 1px;
  border-bottom: 1px solid $primary-color;
  margin-bottom: $spacing;
}

.c-page-head__logo {

}

.c-page-head__main {
  @include clearfix;
}
