/*------------------------------------*\
    #PLEDGE DATA
\*------------------------------------*/

/**
 * Shows pledge statistics in pledge view
 */

.c-pledge-data {
  padding: $spacing--small 0;
  border-bottom: 1px solid $light-gray;
}

.c-pledge-data__title {
  margin-bottom: $spacing--tiny;
  @include font-size(18px);
  text-transform: uppercase;
}
