/*------------------------------------*\
    #PLEDGE DATA
\*------------------------------------*/

/**
 * Shows pledge statistics in pledge view
 */

.c-pledge-data {
  margin-bottom: $spacing--small;
  border-bottom: 1px solid $light-gray;
  padding-bottom: $spacing;

  @include font-size(15px, 1.5);

  @include media-query(s) {
    padding-bottom: $spacing--small;
  }
}

.c-pledge-data__initiator,
.c-pledge-data__signees {
  @include media-query(s) {
    margin-bottom: $spacing--small;
    border-bottom: 1px solid $light-gray;
    padding-bottom: $spacing--small;
  }
}

.c-pledge-data__time {
  @include media-query(m) {
    margin-top: $spacing--small;
    border-top: 1px solid $light-gray;
    padding-top: $spacing--small;
  }

  @include media-query(l) {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
  }
}

.c-pledge-data__title {
  margin-bottom: $spacing--small;

  @include font-size(14px);

  text-transform: uppercase;
  color: $mid-dark-gray;

  @include media-query(m) {
    @include font-size(18px);
    color: $text-color;
  }
}

.c-pledge-data .c-progress-bar {
  @include media-query(m) {
    margin-top: 28px;
  }
}

.c-pledge-data__time-wrapper {
  display: flex;
  align-items: center;

  @include media-query(l) {
    display: block;
  }
}

.c-pledge-data .c-pledge-state {
  margin-right: $spacing;

  @include media-query(l) {
    margin-right: 0;
    margin-bottom: $spacing--small;
  }
}
