/*------------------------------------*\
    #SECONDARY NAV
\*------------------------------------*/

/**
 *
 */

.c-secondary-nav__info {
  display: inline-block;

  .c-secondary-nav__link {
    color: $text-color;
    padding: $spacing--tiny;

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    user-select: none;
  }

  @include media-query(s) {
    display: none;
  }
}


.c-secondary-nav__lang {
  display: inline-block;
  vertical-align: top;

  @include font-size(16px, 1.5);

  margin-left: $spacing;

  .c-secondary-nav__item {
    margin: 0 1px;
  }

  .c-secondary-nav__item--active {
  }

  .c-secondary-nav__link {
    display: inline-block;
    vertical-align: middle;

    color: $gray;

    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }

    user-select: none;

    padding: 9px 5px 6px;
    background-color: $gray;
    color: white;
  }

  .c-secondary-nav__item--active .c-secondary-nav__link {
    background-color: $black;
  }

  .c-secondary-nav__item:first-of-type .c-secondary-nav__link {
    border-bottom-left-radius: 5px;
  }

  .c-secondary-nav__item:last-of-type .c-secondary-nav__link {
    border-bottom-right-radius: 5px;
  }
}
