/*------------------------------------*\
    #PLEDGE TILE
\*------------------------------------*/

/**
 * A component for pledge tiles e.g. for the search page.
 */

/**
 * 1. The whole pledge tile is clickable, therefore set neutral text decoration and color.
 *
 */

.c-pledge-tile {
  border: 1px solid $mid-light-gray;
  border-radius: $border-radius-large;
  background-color: $white;

  height: $pledge-tile-height;

  position: relative;
  width: 100%;
}

.c-pledge-tile--with-controls {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.c-pledge-tile__title {
  display: table;

  border-top: 2px solid $gray;
  border-bottom: 2px solid $gray;

  padding-top: $spacing--small;
  padding-bottom: $spacing--small;

  margin-top: $spacing--small;
  margin-bottom: $spacing--small;

  width: 100%;
}

.c-pledge-tile__title > h2 {
  display: table-cell;
  height: 3em;

  vertical-align: middle;
  text-align: center;

  @include font-size(22px);
  color: $black;
}

.c-pledge-tile__link {
  text-decoration: none; /* [1] */
  color: $text-color; /* [1] */
  cursor: pointer;
}

.c-pledge-tile__initiator-img {
  border-radius: 50px;
}

.c-pledge-tile__initiator-title {
  text-transform: uppercase;
  color: $gray;
  @include font-size(14px);
}

.c-pledge-tile__initiator-name {
  @include font-size(18px);
}

.c-pledge-tile__text {
  @include font-size(14px);
  color: $text-color;
  text-align: center;
}



/* Absolute positioning of other components inside of pledge tiles */

.c-pledge-tile .c-social-media {
  position: absolute;
  left: $spacing;
  right: $spacing;
  bottom: $spacing;
  text-align: center;
}

.c-pledge-tile .c-progress {
  position: absolute;
  left: $spacing;
  right: $spacing;
  bottom: $spacing;
}

.c-pledge-tile__button {
  text-align: center;
  position: absolute;
  left: $spacing;
  right: $spacing;
  bottom: ($spacing + 45px);

  > a {
    height: 36px;
  }
}


/* Header */

.c-pledge-tile__state-header {
  width: 100%;
  text-align: center;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  color: $white;
  background-color: $success-color;
}


/* Footer */

.c-pledge-tile__state-footer {
  form {
    display: inline-block;
  }
}
