/*------------------------------------*\
    #SECONDARY NAV
\*------------------------------------*/

/**
 *
 */

.c-secondary-nav {
  float: right;

  @include media-query(s) {
    margin-bottom: $spacing--small;
  }
}

.c-secondary-nav__info {
  float: left;

  margin-top: 7px;
  margin-right: $spacing;

  .c-secondary-nav__link {
    color: $text-color;
    padding: $spacing--tiny;

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    user-select: none;
  }

  @include media-query(s) {
    display: none;
  }
}

.c-secondary-nav__lang {
  float: left;

  margin-right: $spacing--small;

  @include media-query(m) {
    margin-right: $spacing;
  }

  @include font-size(16px, 1.5);

  .c-secondary-nav__item {
    margin: 0 1px;
  }

  .c-secondary-nav__item--active {
  }

  .c-secondary-nav__link {
    display: inline-block;

    height: $input-height;

    color: $gray;

    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }

    user-select: none;

    padding: 6px;
    background-color: $gray;
    color: $white;
  }

  .c-secondary-nav__item--active .c-secondary-nav__link {
    background-color: $black;
  }

  .c-secondary-nav__item:first-of-type .c-secondary-nav__link {
    border-bottom-left-radius: $border-radius;
  }

  .c-secondary-nav__item:last-of-type .c-secondary-nav__link {
    border-bottom-right-radius: $border-radius;
  }
}
