/*------------------------------------*\
    #FLASH
\*------------------------------------*/

/**
 * Component for flash messages
 */

.c-flash {
  position: fixed;
  width: 20em;
  left: 50%;
  margin-left: -10em;
  height: 5em;
  top: 50%;
  margin-top: -2.5em;

  z-index: 99;

  box-shadow: $box-shadow;
  border-radius: $border-radius-large;
  padding: $spacing;

  @include font-size(20px, 1.5);
  color: $white;
  user-select: none;

  opacity: 0.95;
}

.c-flash__icon {
  @include font-size(48px, 1);
}

.c-flash__content {
}

.c-flash--notice {
  background-color: $primary-color-lighter;
}

.c-flash--alert {
  background-color: $secondary-color-lighter;
}

.c-flash--error {
  background-color: $tertiary-color-lighter;
}

.c-flash--hidden {
  display: none;
}
