/*------------------------------------*\
    #SIGN PLEDGE
\*------------------------------------*/

/**
 * Sign pledge form in pledge show view
 */

.c-sign-pledge {
}

.c-sign-pledge__submit {
  height: 60px;

  @include font-size(24px, 1.5);
  border-color: $secondary-color;
  border-radius: 5px;
  background-color: $secondary-color;

  svg {
    width: 32px;
    height: 32px;
    vertical-align: -7px;
  }

  &:hover, &:active {
    background-color: $secondary-color-highlight;
    border-color: $secondary-color-highlight;
  }
}
