/*------------------------------------*\
    #PAGE FOOTER
\*------------------------------------*/

/**
 *
 */

/**
 * 1.
 */

$text-color: rgb(60, 60, 60);

$footer-background-color: rgb(243, 243, 243);
$footer-separator-color: rgb(242, 145, 0);

$footer-separator-thickness: 2px;
$footer-spacing-top: 80px;
$footer-spacing-bottom: 66px;
$footer-spacing-below-icons: 34px;

$svg-size: 32px;
$svg-margin: 8px;

$svg-icon-size: 50px;
$svg-icon-border-size: 1px;

.c-page-foot {
  background-color: $footer-background-color;

  border-top: $footer-separator-thickness solid $footer-separator-color;

  padding-top: $footer-spacing-top;
  padding-bottom: $footer-spacing-bottom;

  color: $text-color;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.c-page-foot__icon {
  width: $svg-icon-size;
  height: $svg-icon-size;
  display: inline-block;
  border: $svg-icon-border-size solid;
  border-radius: $svg-icon-size/2;

  margin-bottom: $footer-spacing-below-icons;

  svg {
    width: $svg-size;
    height: $svg-size;

    margin: $svg-margin;

    fill: $text-color;
  }
}
