/*
 * Social media buttons
 */

.c-social-media {
}

.c-social-media > li {
  display: inline-block;

  border: 1px solid $gray;
  border-radius: 35px;
  width: 35px;
  height: 35px;
  margin-right: 10px;

  transition: border-color $transition-time;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover, &:active {
    border-color: $primary-color;

    .fa {
      color: $primary-color;
    }
  }
}

.c-social-media__button {
  display: block;
  text-align: center;
}

.c-social-media__button > .fa {
  width: 20px;
  height: 20px;

  @include font-size(18px, 1.8);

  color: $gray;
  background-color: transparent;

  transition: color $transition-time;
}
