/*
 * Social media buttons
 */

$color-facebook: #3B5998;
$color-twitter: #55ACEE;
$color-googleplus: #DC4E41;
$color-xing: #005A5F;
$color-linkedin: #0077B5;

.c-social-media > li {
  display: inline-block;
  padding: $spacing--small;
}

.c-social-media__button {
  display: block;
}

.c-social-media__button > svg {
  width: 1.75em;
  height: 1.75em;
  fill: #ccc;
  background-color: transparent;
}

.c-social-media__button--facebook > svg {
  fill: $color-facebook;
  &:hover { fill: lighten($color-facebook, 10%); }
}

.c-social-media__button--twitter > svg {
  fill: $color-twitter;
  &:hover { fill: lighten($color-twitter, 10%); }
}

.c-social-media__button--googleplus > svg {
  fill: $color-googleplus;
  &:hover { fill: lighten($color-googleplus, 10%); }
}

.c-social-media__button--xing > svg {
  fill: $color-xing;
  &:hover { fill: lighten($color-xing, 10%); }
}

.c-social-media__button--linkedin > svg {
  fill: $color-linkedin;
  &:hover { fill: lighten($color-linkedin, 10%); }
}
