/*------------------------------------*\
    #PRIMARY NAV
\*------------------------------------*/

/**
 *
 */

.c-primary-nav {
  clear: both;

  @include font-size(19px, 1.5);
}

.c-primary-nav__link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;

  color: $primary-color;
  background-color: $white;

  &:hover {
    text-decoration: underline;
  }

  user-select: none;

  &.c-primary-nav__link--active {
    background-color: $primary-color;
    color: $white;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}
