/*------------------------------------*\
    #PLEDGE STATE
\*------------------------------------*/

/**
 * A component for showing pledge state as a circle
 */

.c-pledge-state {
  border-radius: 100px;
  padding-top: 9px;
  height: 89px;
  width: 89px;
  text-align: center;
  line-height: 0.95;
  border: 1px solid $gray;
}

.c-pledge-state__still, .c-pledge-state__days {
  @include font-size(15px, none);
  color: $dark-gray;
}

.c-pledge-state__number-of-days {
  font-weight: bold;
  @include font-size(40px, none);
}

.c-pledge-state--urgent .c-pledge-state__number-of-days {
  color: $urgent-color;
}

.c-pledge-state__check {
  color: $success-color;
  @include font-size(48px, 1.4);
}

.c-pledge-state__x {
  color: $urgent-color;
  @include font-size(48px, 1.4);
}

.c-pledge-state__thumbs-down {
  color: $text-color;
  @include font-size(48px, 1.4);
}
