/*------------------------------------*\
    #SIGNEE LIST
\*------------------------------------*/

/**
 * List of signees on the pledge view page
 */

.c-signee-list {
  margin-bottom: $spacing;
}

.c-signee-list__item {
  margin-bottom: $spacing--small;
}

.c-signee-list__signee-data {
  border-top: 1px solid $light-gray;

  padding: $spacing--tiny;
}

.c-signee-list__item:last-of-type .c-signee-list__signee-data {
  border-bottom: 1px solid $light-gray;
}

.c-signee-list__signee-img {
  position: relative;
  width: $avatar-size + 25px;

  margin-top: $spacing--tiny;

  @include media-query(s) {
    width: 48px + 13px;

    > .c-avatar {
      width: 48px;
      height: 48px;
    }
  }
}

.c-signee-list__signee-id {
  display: block;
  position: absolute;
  top: 0;
  right: 0;

  width: 42px;
  height: 42px;
  border: 1px solid $tertiary-color;
  border-radius: 25px;

  color: $tertiary-color;
  background-color: $white;

  text-align: center;
  font-weight: bold;
  @include font-size(20px, 2);

  @include media-query(s) {
    width: 24px;
    height: 24px;

    @include font-size(12px, 2);
  }
}

.c-signee-list__signee-name {
  margin-bottom: $spacing--tiny;
  @include font-size(20px, 1.5);
  color: $primary-color;
}

.c-signee-list__signee-comment {
  margin-bottom: $spacing--tiny;
}

.c-signee-list__signee-email {
  color: $mid-dark-gray;
}

.c-signee-list__signee-date {
  @include font-size(14px, 1.5);
  font-style: italic;
  color: $mid-dark-gray;
}
