/*------------------------------------*\
    #TOOLTIP
\*------------------------------------*/

/**
 * Tooltip for form help texts
 *
 * 1. Try to position in the middle of the question mark.
 */

.c-tooltip {
  position: relative;

  height: 25px;

  width: 1.5rem;
}

.c-tooltip__anchor > span {
  @include font-size(25px, 1.0);

  color: $gray;

  &:hover, &:active {
    color: $gray-highlight;
  }
}

.c-tooltip__text {
  display: none;

  position: absolute;
  left: -5.3rem;  /* [1] */
  bottom: 45px;

  z-index: 3;

  width: 12rem;
  border-radius: $border-radius;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  background-color: $white;
}

.c-tooltip__triangle {
  display: none;

  position: absolute;
  left: -7px;  /* [1] */
  bottom: 28px;

  z-index: 2;

  width: 36px;

  fill: $primary-color;
}

.c-tooltip--open {
  .c-tooltip__anchor > span {
    color: $primary-color;

    &:hover, &:active {
      color: $primary-color-highlight;
    }
  }

  .c-tooltip__triangle, .c-tooltip__text {
    display: block;
  }
}
