<section class="c-masthead c-masthead--left">
  <div class="o-wrapper">
    <div class="c-masthead__copy">
      <h2 class="c-masthead__title">
        <%= t('.masthead.title') %>
      </h2>
      <p>
        <%= t('.masthead.text') %>
      </p>
    </div>
  </div>
</section>

<div class="c-base-layout__main">

  <section class="o-wrapper u-mb">
    <p class="u-2/3@m">
      Seit dem Launch der Plattform <i>bunt und verbindlich</i> am 11. Oktober 2016 hat das Projekt
      dazu beigetragen, die Kooperation zwischen Unternehmen und Flüchtlingsinitiativen zu
      unterstützen.
    </p>
    <p class="u-2/3@m">
      Durch das Einstellen und Einlösen von Versprechen durch Unternehmen und Flüchtlingsinitiativen
      wurde die Integration von Geflüchteten in unsere Gesellschaft gestärkt.
      So wurde zum Beispiel geflüchteten Frauen ermöglicht, in die Ausbildung des Apothekerberufs
      einzusteigen und langfristige Berufsperspektiven zu schaffen.
      Initiativen wurden finanziell oder mit technischen Geräten ausgestattet, um dann die
      Integration von Geflüchteten zu fördern. Neben langfristig wirksamer Hilfe haben aber
      auch kleine Aktionen wie das Unterstützen von Initiativen durch Tuschkästen oder durch
      Weihnachtsgeschenke dazu beigetragen, geflüchteten Kindern bei der Verarbeitung ihrer
      Erfahrungen zu helfen und ein Lächeln in ihr Gesicht zu zaubern.
    </p>
  </section>

  <section class="c-pledge-list o-wrapper u-mt">
    <%= cell :pledge_list, @recommended_pledges, filter: :recommended, max_pledges: 6,
                                                  params: params %>
  </section>

  <section class="o-wrapper u-mb">
    <p class="u-2/3@m">
      <i>bunt und verbindlich</i> hat
      <a href="http://blog.buntundverbindlich.de/" target="_blank">Kooperationen zwischen
      Unternehmen und Flüchtlings&shy;organisationen</a>
      ermöglicht, die auch heute noch Wirkung zeigen.
      Darüber freuen wir uns sehr. Da wir inzwischen merken, dass der Bedarf nicht mehr
      im gleichen Umfang wie vor zwei Jahren vorhanden ist, konzentrieren wir uns
      als
      <a href="http://initiatived21.de/" target="_blank">Initiative D21</a>
      wieder auf unser Kernthema, die Begleitung der digitalen
      Gesellschaft. Ein Aspekt unserer Arbeit wird nach wie vor die digitale Flüchtlingshilfe sein,
      jedoch nicht mehr als ein eigenständiges Projekt der D21.
    </p>
    <p class="u-2/3@m u-mt">
      <i>bunt und verbindlich</i> ist eine Open Source Plattform, deren Logik für andere
      ehrenamtliche Projekte verwendet werden kann. Bei Rückfragen dazu stehen wir
      gern unter <a href="mailto:kontakt@initiatived21.de">kontakt@initiatived21.de</a>
      als Ansprechpartner zur Verfügung.
    </p>
  </section>

</div>
