/*------------------------------------*\
    #QUOTES
\*------------------------------------*/

/**
 * Default, language-specific settings for q tags.
 */

q:before, blockquote:before {
  content: open-quote;
}

q:after, blockquote:after {
  content: close-quote;
}

:lang(de) {
  q {
    quotes: '„' '“';
  }
}

:lang(en) {
  q {
    quotes: '“' '”';
  }
}
