meta property="og:url" content="#{request.original_url}"
meta property="og:title" content="bunt und verbindlich"
meta property="og:image" content="#{request.base_url}/images/buv-logo-facebook.png"
meta property="og:image:width" content="1200"
meta property="og:image:height" content="628"
