<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body style="color: #3d3d3d; font: 1em/1.4 Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;">

    <img src="https://www.buntundverbindlich.de/images/buv-logo-email.png" width="300" style="margin-bottom: 1.5em; width: 300px; max-width: 100%;" alt="Bunt und Verbindlich Logo" />

    <%= yield %>

    <hr style="border-style: solid; border-bottom: none;" />

    <div style="margin-top: 2.5em; font: 0.85em Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
      <%= t('application_mailer.imprint_html') %>
    </div>
  </body>
</html>
